body {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

h3 {
    color: #000000;
    font-family: "Comic Sans MS";
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 10%;
    width: 740px;
}


.container {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 600px;
}

#cube {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-90px) rotateY(630deg) rotateZ(90deg) rotateX(-90deg);
    transition: transform 1s;
}

#cube.cube-effect {
    transform: translateZ(-90px) rotateY(420deg) rotateZ(130deg) rotateX(90deg);
}

card {
    border: 1px solid #ff0000;
    background: rgba(238, 216, 216, 0.6);
    color: rgba(0, 0, 0, 0.6);
    font-family: "Comic Sans MS";
    font-size: 100px;
    text-align: center;
    line-height: 180px;
    height: 180px;
    position: absolute;
    width: 180px;
}

.front  {
    transform: rotateY(0deg) translateZ(90px);
}

.back   {
    transform: rotateX(180deg) translateZ(90px);
}

.right  {
    transform: rotateY(90deg) translateZ(90px);
}

.left   {
    transform: rotateY(-90deg) translateZ(90px);
}

.top    {
    transform: rotateX(90deg) translateZ(90px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(90px);
}

